@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Smooch+Sans:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
    --font-fjalla: 'Fjalla One', sans-serif;
    --font-smooch: 'Smooch Sans', sans-serif;

    --color-dark-blue: #0d1124;
	--color-green-success: #14a620;
	--color-red-error: #d60b0b;
}

@layer utilities {
    .hidden-scroll::-webkit-scrollbar {
        height: 0;
        width: 0;
    }

	.auth__input--default {
        @apply placeholder:text-white/60 placeholder:text-end focus:placeholder:text-white/80 hover:placeholder:text-white/70 hover:border-b-white/80 focus:border-b-white transition-colors border-b-white/60 border-b-2 w-full pb-1 focus:outline-none px-2;
    }
}

body {
	width: 100vw;
	height: 100dvh;

	@media screen and (min-width: 480px) {
		height: 100vh;
	}
}